html {
    min-width: 1008px;
    font-family: "Proxima Nova";
    color:white;
}

body {
    background: #742828;
    margin:0;
}

div {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: red;
}

span {
    font-size:1.2em;
    font-style: italic;
}

h1 {
    padding: 0;
    margin: 0;
}

/*Index Page
Top Navigation*/

#topSection{
    background: #212121;
    position: relative;
    top:0;
    width: 100%;
    margin-left: 0;
}

#header:hover{
    /* ff3.6+ */
    background: rgba(0, 0, 0, 0.6);
    top:0;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #081c24;
    padding:15px 0 15px 0;
    width: 100%;
    z-index: 999;
}

#upperNavigation {
    width: 1008px;
    margin: 0 auto;
  }

  #navigationContent {
    margin: 0 auto;
    min-width: 1008px;
  }

#navLinks {
  display: inline;
  margin: auto;
  padding-left: 0;
}

#navLinks > li {
    color: white;
    display: inline-flex;
    padding-right: 10px;

}

#search  {
    padding-left:4px;
    margin-left: 10px
}

i:hover #search {
  display: inline;
  padding-left:10px;
  margin-left: 10px;
}

/*body and content
*/

#mainContent {
    width:1008px;
    margin: auto;
    margin-top: 50px;
}

#mainSection {
    min-width: 1008px;
    margin: auto;
}

sidebar-directive {
    float:right;
    width:35%;
    background-color: #67d6f8;
    min-height: 100vh;
    color: white;
    text-align: center;
    border: 1px;

}


/*Tiles
*/

.btn {
    background-color: black;
    padding: 5px 10px;
    margin-bottom:2px;
    margin-top: 4px;
}

#sideLinks {
  margin-top:0;
}

#sideLinks > li {
  top:0;
  margin-bottom: 4px;
  text-align: center;
  background-color:black;
  list-style-type: none;
  color: white;
}

#sideLinks > li > a {
  color: white;
}

.backgroundImage {
  right:0;
  left:0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

}

.backgroundImage:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #742828;
  opacity: 0.94;
  z-index: 1;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-bottom: 1px solid #CCC;
    display: inline-block;
    width: 48.5%;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 4px;
    background-color: white
}

.container > p {
    color:black;
    font-size: 0.8em;
    font-weight: bold;

}

.card > img {
    width:100%;
    height:197px;
    margin-bottom: 0px
}



h4 {
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding-left: 4px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0px;

}

/*details Page
*/
#details {
  min-width: 1008px;
  margin: auto;
}
.poster {
    display: inline;
}

.poster > img {
  margin-top: 4px;
  border: 2px solid #fff;
  width: 25%;
}

#mainInfo{
  color:white;
  display:inline;
  float:right;
  width: 70%;
}

.videos {
  margin: auto;
}
.videoTile {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 4px solid black;
  display: inline-block;
  width: 46%;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 4px;
  background-color: white;

}
.videoLeft > iframe {
  float:left;
  width: 69%;
  border-color: black;
  margin:0;
}
.videoRight {
  float:right;
  width:29%;
  color: black;
  text-overflow: ellipsis;
  font-size: 10px;
  hyphens: auto;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    margin:auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*colosrs
*/

.dark-primary-color        { background-color: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color     { background: #B3E5FC; }
.text-primary-color        { color: #FFFFFF; }
.accent-color                    { background: #FF4081; }
.primary-text-color        { color: #212121; }
.secondary-text-color    { color: #757575; }
.divider-color                 { border-color: #BDBDBD; }
